.backgroundColor{
    background: rgb(241,219,188);
    background: linear-gradient(166deg, rgba(241,219,188,1) 9%, rgba(194,188,209,1) 100%);
}
.loginBackgroundColor{
    background-color: #f5f5f5;
}
.map-container{
    height: 400px;
    background: #f0f0f0;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.container {
    min-height: 100vh; /* Asegura que el contenedor ocupe al menos la altura completa de la pantalla */
}

.navbar {
    background-color: #8DAAF3;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .nav-link {
    color: white; /* Color del fondo */
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .icon {
    width: 20px; /* Ajusta el tamaño del icono según sea necesario */
    height: 20px;
    margin-bottom: 2px; /* Reduce el margen para acercar el icono al texto */
  }
  .nav-link span { /* Se aplica a los elementos de texto dentro de .nav-link */
    color: black;
  }
  .nav-link span.text { /* Agregamos una clase adicional para mayor especificidad */
    color: black;
  }

  #buscador{
    margin-top: 3em;
    width: 50em;
    background-color: #f8f8f8;
    height: 3em;
    border-radius: 15px;
    border: solid 1px;
    border-color: #ccc;
    padding-left:4em ;
    opacity: 0.8;
}

.social-buttons {
    display: flex;
    justify-content: center;
    margin-top: 10px;

    .social-btn {
        background-color: white; /* Fondo blanco */
        border: 1px solid #ccc; /* Bordes gris claros */
        border-radius: 5px; /* Bordes redondeados */
        width: 50px; /* Ajusta el tamaño del botón */
        height: 50px; /* Ajusta el tamaño del botón */
        margin: 0 5px; /* Espaciado entre botones */
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra suave */
        transition: background-color 0.3s, transform 0.2s; /* Transiciones suaves */

        img {
            width: 24px; /* Tamaño del ícono */
            height: 24px; /* Tamaño del ícono */
        }

        &:hover {
            background-color: #f0f0f0; /* Color de fondo al pasar el mouse */
            transform: scale(1.05); /* Efecto de aumento */
        }
    }
}

.text-center p {
    margin-bottom: 15px; /* Espaciado debajo del texto "Or login with" */
}


.puntos-disponibles {
    background-color: rgba(217, 217, 217, 0.4);
}
